//  Forms
//  ==========================================================================


fieldset,
legend {
  border: 0;
}

input,
label,
textarea {
  display: block;
}

input[type="search"] {
  appearance: none;
  box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin-right: .25em;
}

input[type="file"] {
  width: 100%;
}

label {
  font-weight: $fw-s-bold;
}

legend {
  font-weight: $fw-s-bold;
}

select {
  display: inline-block;
  max-width: 100%;
  width: auto;
}

textarea {
  resize: vertical;
}
